#### Name:- Mayur Chaudhari

#### Div :- A

#### Roll No :- 30

#### Experiment No :- 3

Title :- Apply a-priori algorithm to find frequently occurring items from given data and generate strong association rules using support and confidence thresholds.  For Example: Market Basket Analysis

In [21]:
import pandas as pd

In [22]:
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules

In [23]:
basket = [['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
          ['Eggs','Milk','Onion','Apple','Ice cream','Eggs'],
          ['Dill','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
          ['Milk','Apple','Kidney Beans','Eggs'],
          ['Ice cream','Onion','Kidney Beans','Eggs'],
          ['Milk','Unicorn','Corn','Kidney Beans','Yogurt'],
          ['Onion','Onion','Apple','Ice cream','Yogurt'],
          ['Yogurt','Eggs','Onion','Kidney Beans','Ice cream','Eggs'],
          ['Kidney Beans','Onion','Yogurt','Kidney Beans','Eggs'],
          ['Corn','Onion','Onion','Kidney Beans','Ice cream','Eggs']
         ]

In [24]:
basket

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Eggs', 'Milk', 'Onion', 'Apple', 'Ice cream', 'Eggs'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Ice cream', 'Onion', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Onion', 'Onion', 'Apple', 'Ice cream', 'Yogurt'],
 ['Yogurt', 'Eggs', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs'],
 ['Kidney Beans', 'Onion', 'Yogurt', 'Kidney Beans', 'Eggs'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [25]:
TE = TransactionEncoder()
TE_ary =TE.fit(basket).transform(basket)

In [26]:
df = pd.DataFrame(TE_ary,columns=TE.columns_)

In [27]:
df.head()

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,True,False,False,True,True,False,True,False,True,False,False
2,False,False,True,True,False,True,False,True,True,False,True
3,True,False,False,True,False,True,True,False,False,False,False
4,False,False,False,True,True,True,False,False,True,False,False

In [28]:
frequent_itemsets = apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets.head()

   support              itemsets
0      0.8                (Eggs)
1      0.8        (Kidney Beans)
2      0.8               (Onion)
3      0.6              (Yogurt)
4      0.7  (Eggs, Kidney Beans)

###### Association Rule Mining

In [29]:
result1=association_rules(frequent_itemsets,metric='confidence',min_threshold=0.7)
result1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,0.8,0.7,0.875000,1.093750,0.06,1.6
1,(Kidney Beans),(Eggs),0.8,0.8,0.7,0.875000,1.093750,0.06,1.6
2,(Onion),(Eggs),0.8,0.8,0.7,0.875000,1.093750,0.06,1.6
3,(Eggs),(Onion),0.8,0.8,0.7,0.875000,1.093750,0.06,1.6
4,(Onion),(Kidney Beans),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8
5,(Kidney Beans),(Onion),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8
6,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.000000,1.250000,0.12,inf
7,"(Onion, Eggs)",(Kidney Beans),0.7,0.8,0.6,0.857143,1.071429,0.04,1.4
8,"(Kidney Beans, Eggs)",(Onion),0.7,0.8,0.6,0.857143,1.071429,0.04,1.4
9,(Onion),"(Kidney Beans, Eggs)",0.8,0.7,0.6,0.750000,1.071429,0.04,1.2
10,(Kidney Beans),"(Onion, Eggs)",0.8,0.7,0.6,0.750000,1.071429,0.04,1.2
11,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.750000,1.250000,0.12,1.6

In [30]:
result2 = result1[['antecedents','consequents','support','confidence','lift']]

In [31]:
result2

,antecedents,consequents,support,confidence,lift
0,(Eggs),(Kidney Beans),0.7,0.875000,1.093750
1,(Kidney Beans),(Eggs),0.7,0.875000,1.093750
2,(Onion),(Eggs),0.7,0.875000,1.093750
3,(Eggs),(Onion),0.7,0.875000,1.093750
4,(Onion),(Kidney Beans),0.6,0.750000,0.937500
5,(Kidney Beans),(Onion),0.6,0.750000,0.937500
6,"(Onion, Kidney Beans)",(Eggs),0.6,1.000000,1.250000
7,"(Onion, Eggs)",(Kidney Beans),0.6,0.857143,1.071429
8,"(Kidney Beans, Eggs)",(Onion),0.6,0.857143,1.071429
9,(Onion),"(Kidney Beans, Eggs)",0.6,0.750000,1.071429
10,(Kidney Beans),"(Onion, Eggs)",0.6,0.750000,1.071429
11,(Eggs),"(Onion, Kidney Beans)",0.6,0.750000,1.250000

In [32]:
result3=result2[result2['confidence']>=1]

In [33]:
result3

             antecedents consequents  support  confidence  lift
6  (Onion, Kidney Beans)      (Eggs)      0.6         1.0  1.25